/* ---------------------------
Font-Poppins 
--------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ---------------------------
Common-Style
--------------------------- */
header{
    background-color: #2D25A0;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.button{
    color: #fff;
    font-size: 16px;
    background-color: #E02C6D;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
    padding: 10px 24px;
    transition: 2s;
}

.button:hover{
    background-color: #fff;
    color: #E02C6D;
}

.fas{
    margin-right: 12px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    margin-top: 70px;
    margin-bottom: 70px;
}

.container{
    background-color: #FFFFFF;
}
.section-title{
    font-size: 32px;
    margin-bottom: 70px;
    text-align: center;
    color: #18191F;
}

/* *******************************
        Navbar -start
************************************ */
.menus{
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 52px;
    justify-content: space-evenly;
}
.menu{
    margin-left: 156px;
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 36px;
    transition: 2s;
}

.menu a:hover{
    color:#E02C6D;
}
.menu-button{
    margin-right: 124px;
}
.menu-button a{
    text-decoration: none;
}

/* *******************************
        Top Banner -start
************************************ */

.top-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

.banner-info{
    margin-left: 156px;
}

.banner-title{
    font-size: 64px;
    line-height: 80px;
    color: #fff;
    margin-bottom: 27px;
    transition: 1s;
}

.banner-title:hover{
    font-size: 50px;
    line-height: 65px;
}
a{
    text-decoration: none;
}
.banner-img img{
    width: 556px;
    height: 438px;
    margin-bottom: 86px;
    margin-right: 140px;
}


/* *******************************
        Top Plyer list -start
************************************ */
.player{
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 27px;
    overflow: hidden;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.player img{
    width: 300px;
    height: 256px;
    margin-bottom: 10px;
}

.player img:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in;
}
.player-name{
    font-size: 28px;
    color: #18191F;
    font-weight: 700;
    margin-bottom: 10px;
}
.player-info{
    font-size: 16px;
    margin-bottom: 10px;
}

/* *******************************
        Highlights -start
************************************ */

.highlights{
    display: flex;
    align-items: center;
}
.highlights-title{
    color: #18191F;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 8px;
    margin-right: 70px;
}
.title p{
    margin-bottom: 24px;
}
.highlights-img img{
    width: 567px;
    height: 427px;
}

/* *******************************
        Our Team -start
************************************ */

.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* width: 1900px;
    height: 536px; */
}

.bg-overlay{
    background: linear-gradient(rgba(26, 26, 26, 0.9),rgba(51, 51, 51, 0.7)), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 1900px;
    height: 536px;
}

.our-team{
    text-align: center;
    padding-top:150px;
}
.team-title{
    font-size: 20px;
    color: #fff;
}

.team-info{
    font-size: 48px;
    color: #fff;
    line-height: 60px;
    margin-bottom: 24px;
}

/* *******************************
        Football news -start
************************************ */

.newses{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}
.news{
    padding: 15px 15px 35px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.news-img img{
    width: 300px;
    height: 200px;
}

.news img:hover{
    transform: scale(1.15);
    transition: transform 2s ease-in-out;
}

.news-content{
    font-size: 18px;
    margin-top: 15px;
}

/* *******************************
        Footer -start
************************************ */
footer{
    margin-top: 70px;
    margin-bottom: 70px;
}

.footer-content{
    text-align: center;
}

.footer-logo img{
    width: 483px;
    height: 110px;
    margin-bottom: 20px;
}

.social-icon{
    margin-bottom: 20px;
    color: #969bab;
    font-size: 20px;

}

.fab{
    background-color: #E7E7E8;
    padding: 12px;
    border-radius: 50%;
}

.copyright{
    font-size: 18px;
}



/* --------------------------------
Medai Query
-------------------------------- */

/* -----------------------------
 mobile Devices
 ---------------------------- */
@media only screen and (max-width:688px) {
    nav{
        display: none;
    }

    .top-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-info{
        margin-left: 16px;
        text-align: center;
    }
    .banner-title{
        font-size: 36px;
        line-height: 50px;
        margin-top: 52px;
    }
    
    .banner-img img{
        margin-top: 50px;
        width: 329px;
        height: 260px;
        margin-right: 1px;
        margin-bottom: 60px;
    }
/* -----------------------------
 Top Player List -Start
 ---------------------------- */
    .players{
        grid-template-columns: repeat(1, 1fr);
    }

/* *******************************
        Highlights -start
************************************ */
    .highlights{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
    }

    .highlights-title{
        font-size: 30px;
        line-height: 40px;
    }

    .title p{
        font-size: 14px;
    }

    .highlights-img img{
        width: 328px;
        height: 248px;
        margin-top: 30px;
    }

/* *******************************
        Our Team -start
************************************ */
    .bg-overlay{
        width: 400px
    }

    .team-info{
        font-size: 25px;
        line-height: 40px;
        margin-top: 15px;
        padding-bottom: 8px;
    }

/* *******************************
        Our Team -start
************************************ */
    .newses{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
    .news-content{
        font-size: 16px;
    }

    .news-img img{
        width: 270px;
        height: 150px;
    }

/* *******************************
        Footer -start
************************************ */
    .footer-logo img{
        width: 270px;
        height: 50px;
    }

}

/* -----------------------------
 Tablet Devices
 ---------------------------- */


 @media only screen and (min-width: 688px) and (max-width: 992px) {
    nav{
        display: none;
    }
    .top-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .banner-info{
        margin-left: 16px;
        text-align: center;
    }

    .banner-title{
        font-size: 64px;
        line-height: 80px;
        margin-top: 52px;
        
    }
    .banner-img img{
        margin-top: 50px;
        width: 556px;
        height: 438px;
        margin-right: 1px;
        margin-bottom: 60px;
    }
/* -----------------------------
 Top Player List -Start
 ---------------------------- */
 .players{
    grid-template-columns: repeat(2, 1fr);
    }

/* *******************************
        Highlights -start
************************************ */
    .highlights{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
    }

    .highlights-img img{
        margin-top: 30px;
    }

/* *******************************
        Our Team -start
************************************ */
    .bg-overlay{
        width: 800px
    }

    .team-info{
        font-size: 48px;
        line-height: 60px;
        margin-top: 15px;
        padding-bottom: 8px;
    }

/* *******************************
        Our Team -start
************************************ */
    .newses{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
}
        
 }

 